<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: head"></div>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="fragments/header_nav :: header_nav"></div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:replace="fragments/nav_bar :: nav_bar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div layout:fragment="content" id="content"> </div>

    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <div th:replace="fragments/footer :: footer"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<div th:replace="fragments/footer_js :: footer_js"></div>
</body>
</html>
