<html lang="en"
      layout:decorate="~{/index}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">User Management</h1>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="navbar navbar-light">
                                            <div class="input-group input-group-sm">
                                                <input
                                                        id="searchUserId"
                                                        aria-label="Search"
                                                        class="form-control form-control-navbar"
                                                        placeholder="Search by user name "
                                                        type="search"
                                                />
                                                <div class="input-group-append">
                                                    <button class="btn btn-navbar" onclick="searchUser()" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button class="btn btn-primary" id="addNewUserBtn" type="button">
                                    Add New User
                                </button>

                                <button class="btn btn-primary" id="passwordUpdateBtn" type="button">
                                    Update Password
                                </button>

                                <button class="btn btn-secondary" onclick="resetUser()" type="button">
                                    Reset User
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- left column -->
                <div class="col-md-12 collapse" id="userPnl">
                    <!-- general form elements -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h2 class="card-title text-dark">Enter user detail</h2>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>User Name</label>
                                            <input class="form-control" id="userNameId" placeholder="Enter User Name"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Select Role</label>
                                            <select class="custom-select" id="userRoleId">
                                                <option value="-1">--Your Role--</option>
                                                <option value="ADMIN">ADMIN</option>
                                                <option value="OFFICER">OFFICER</option>
                                                <option value="CUSTOMER"> CUSTOMER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input class="form-control" id="passwordId" placeholder="Enter password"
                                                   type="password"/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input class="form-control" id="confirmPasswordId" placeholder="Enter Confirm password"
                                                   type="password"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Select Status</label>
                                            <select class="custom-select" id="userStatusId">
                                                <option value="-1">--Your status--</option>
                                                <option value="ACTIVE">ACTIVE</option>
                                                <option value="INACTIVE">INACTIVE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button class="btn bg-gradient-success" onclick="saveUser()" type="button">
                                    Submit
                                </button>
                                <button class="btn bg-gradient-success" id="updateBtnId"  onclick="updateUser()" type="button">
                                    Update
                                </button>
                                <button class="btn bg-gradient-warning" onclick="clearUserField()" type="button">
                                    Clear
                                </button>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col-md-12 collapse" id="resetPasswordPnl">
                    <!-- general form elements -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h2 class="card-title text-dark">Enter reset password detail</h2>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>User Name</label>
                                            <input class="form-control" id="RPUserNameId" placeholder="Enter User Name"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input class="form-control" id="RPasswordId" placeholder="Enter password"
                                                   type="password"/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input class="form-control" id="RPConfirmPasswordId" placeholder="Enter Confirm password"
                                                   type="password"/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button class="btn-sm btn-success" onclick="resetUserPassword()" type="button">
                                    Submit
                                </button>

                                <button class="btn-sm btn-warning" onclick="clearResetPassword()" type="submit">
                                    Clear
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/.col (left) -->
            </div>

            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h2 class="card-title text-dark">User detail</h2>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table class="table table-bordered table-striped dataTable" id="userTable">
                        <thead>
                        <tr>
                            <th> User Name </th>
                            <th> Role </th>
                            <th> Status </th>
                            <th> Action </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <input id="userId" type="hidden"/>
  <script async th:src="@{assets/pages/user.js}"></script>
    <!-- /.content -->
</div>
</div>
</html>
